<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Collab-frontend Logout</title>
    <link rel="stylesheet" href="/logout.css">
  </head>
  <body>
    <div class="head-fixed">
      <div class="head-flex">
        <div class="head-left header-font">
        </div>
        <div class="head-center">
          <div class="header-title">collab-frontend</div>
        </div>
        <div class="head-right">
          <a href="/login">
            <button id="userDropdownButton" class="user-dropdown-button">> Login</button>
          </a>
        </div>
      </div>
    </div>

    <div class="scrollable-div">
      <div class="info-div">
