html {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #fadd7d;
}

.info-div {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
  margin: 10px 10px 10px 10px;
}

.button-div {
  padding-left: 20px;
  padding-top: 8px;
}

.footer {
  margin-top: 30px;
  background-color: #ffca1c;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 8px 10px 5px 10px;
  text-align: center;
}
.header-font {
  font-size: 125%
}
.head-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 4;
}
.head-flex {
  margin-top: 0px;
  background-color: #ffca1c;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 8px 10px 5px 10px;
  margin-bottom: 5px;
}

.head-left {
  display: inline;
}

.head-center {
  display: inline;
}

.head-right {
  display: inline;
}

.header-title {
  font-size: 140%;
  display: inline-block;
}

.user-dropdown-button {
  background-color: #ffca1c;
  color: black;
  padding: 6px 10px 6px 10px;
  font-size: 90%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Dropdown button on hover & focus */
.user-dropdown-button:hover, .user-dropdown-button:focus {
  background-color: #fdeaab;
}


.scrollable-div {
  margin-top: 50px;
}
