<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>collab-frontend</title>
    <link rel="stylesheet" href="unauthorized.css">
  </head>
  <body>
    <div class="head-fixed">
      <div class="head-flex">
        <div class="head-left header-font">
          collab-frontend
        </div>
        <div class="head-right">
          <span id="headerName"></span>
          <a href="/login"><button>Login</button></a>
        </div>
      </div>
    </div>
  </body>
</html>
